# Node modules & build artifacts
node_modules/
**/node_modules/
.vite/
dist/
build/

# Vite dependency cache inside node_modules (explicit)
node_modules/.vite/deps
node_modules/.vite/**

# Local env / IDE
*.env
.env
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .js files
backend_heatmap/backend/heatmap_db.js
frontend/src/feedback_server/server.js
backend_notifications/package-lock.json
frontend/src/feedback_server/feedbacks.csv

